// Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
$azul: #2563EB;
$indigo: #4338CA;
$morado: #7C3AED;
$naranja:#F59E0B;
$rosa: #DB2777;

//colores 2
$fondo: #F4F1DE; //BEIGE
$melocoton: #eab69f;
$melocoton_oscuro: #e07a5f;
$azul_gris: #3d405b;
$verde_azul:#81b29a;
$beige_claro: #f2cc8f;


$blanco: #FFFFFF;
$gris: #696969;
$grisOscuro: #4B5563;
$negro: #000;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

$separacion: 5rem;